<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
   xmlns:mqc="http://activemq.apache.org/schema/core"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context-2.5.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

   <context:annotation-config/>
   
   <context:property-placeholder location="jdbc.properties,mail.properties" />

   <!-- Enable @Configured support -->
   <context:spring-configured/>
   
   <!-- Enable @Transactional support -->
   <tx:annotation-driven/>
    
   <!-- Enable @AspectJ support -->
   <aop:aspectj-autoproxy/>
   
   <aop:config>
      <aop:advisor id="flowServiceTx" advice-ref="flowServiceTxAdvice" pointcut="execution(* *..service.FlowService.*(..))" order="0"/>        
   </aop:config>

   <tx:advice id="flowServiceTxAdvice">
      <tx:attributes>
         <tx:method name="executeJob" rollback-for="DataAccessException"/>
      </tx:attributes>
   </tx:advice>
    
   <!-- Local C3P0 DataSource that works in any environment -->
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
      destroy-method="close">
      <property name="driverClass" value="${jdbc.driverClassName}" />
      <property name="jdbcUrl" value="${jdbc.url}" />
      <property name="user" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
   </bean>

   <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
      <property name="sessionFactory" ref="hibernateSessionFactory"/>
   </bean>
   
   <bean id="hibernateSessionFactory"
      class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="annotatedClasses">
         <list>
            <value>org.imirsel.nema.model.Flow</value>
            <value>org.imirsel.nema.model.Job</value>
            <value>org.imirsel.nema.model.JobResult</value>
            <value>org.imirsel.nema.model.Notification</value>
         </list>
      </property>
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.dialect">
               org.hibernate.dialect.MySQLDialect
            </prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
            <prop key="hibernate.show_sql">true</prop>
         </props>
      </property>
   </bean>
   
   <bean id="jobDao" class="org.imirsel.nema.dao.impl.JobDaoImpl">
       <property name="sessionFactory" ref="hibernateSessionFactory"/>
   </bean>

   <bean id="jobResultDao" class="org.imirsel.nema.dao.impl.JobResultDaoImpl">
       <property name="sessionFactory" ref="hibernateSessionFactory"/>
   </bean>
   
   <bean id="flowDao" class="org.imirsel.nema.dao.impl.FlowDaoImpl">
       <property name="sessionFactory" ref="hibernateSessionFactory"/>
   </bean>
   
   <bean id="notificationDao" class="org.imirsel.nema.dao.impl.NotificationDaoImpl">
       <property name="sessionFactory" ref="hibernateSessionFactory"/>
   </bean>
   
   <bean id="jobStatusMonitor" class="org.imirsel.nema.flowservice.monitor.PollingJobStatusMonitor">
        <property name="jobDao" ref="jobDao"/>
   </bean>
   
   <bean id="headServer" class="org.imirsel.nema.flowservice.MeandreServer">
       <property name="host" value="http://128.174.154.145"/>
       <property name="port" value="1709"/>
       <property name="maxConcurrentJobs" value="1"/>
   </bean>

   <bean id="worker1" class="org.imirsel.nema.flowservice.MeandreServer">
       <property name="host" value="http://128.174.154.145"/>
       <property name="port" value="1714"/>
       <property name="maxConcurrentJobs" value="1"/>
       <property name="jobStatusMonitor" ref="jobStatusMonitor"/>
   </bean>
   
   <bean id="jobSchedulerConfig" class="org.imirsel.nema.flowservice.config.SimpleMeandreJobSchedulerConfig">
       <property name="head" ref="headServer"/>
       <property name="servers">
          <set>
             <ref bean="worker1"/>
          </set>
       </property>
   </bean>

   <bean id="loadBalancer" class="org.imirsel.nema.flowservice.RoundRobinLoadBalancer" />
   <bean id="jobScheduler" class="org.imirsel.nema.flowservice.MeandreJobScheduler">
      <property name="loadBalancer" ref="loadBalancer" />
      <property name="jobDao" ref="jobDao"/>
      <property name="meandreJobSchedulerConfig" ref="jobSchedulerConfig" />
   </bean>
   
   <bean id="flowService" class="org.imirsel.nema.flowservice.NemaFlowService">
      <property name="jobScheduler" ref="jobScheduler" />
      <property name="jobStatusMonitor" ref="jobStatusMonitor"/>
      <property name="jobDao" ref="jobDao"/>
      <property name="jobResultDao" ref="jobResultDao"/>
      <property name="flowDao" ref="flowDao"/>
      <property name="notificationDao" ref="notificationDao" />
   </bean>

   <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
      <property name="serviceName" value="FlowService" />
      <property name="service" ref="flowService" />
      <property name="serviceInterface" value="org.imirsel.nema.flowservice.FlowService" />
      <property name="registryPort" value="1099" />
   </bean>

</beans>