<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.imirsel.nema.model.User"/>
        <mapping class="org.imirsel.nema.model.Role"/>
        <mapping class="org.imirsel.nema.model.PreferenceValue"/>
        <mapping class="org.imirsel.nema.model.Submission"/>
    </session-factory>
</hibernate-configuration>