                                    ------------------------------
                                              Download
                                    ------------------------------
                                        	Amit Kumar
                                    ------------------------------
                                              2010-04-11
                                    ------------------------------

Download

* Releases

   You can download source, binary distribution and the javadocs from the
   {{{http://nema-dev.lis.illinois.edu/builds/nema-diy/}}NEMA Development server}}.

* Source code from SVN

   You can also obtain the source from the Google Code, see
   {{{source-repository.html}Source Repository}}.

