label.label {
	font-weight:bold;
}
label.name {
	
}
label.fixed{
	float:left;
	width:12em;
	}
label.required{
	font-weight:bold;
	}
.surround{
	margin:5px;
}

.notification{
	right:5px;
	bottom:5px;
	width:200px;
	max-height:150px;
	
}

.mycenter {
	margin-left:auto;
	margin-right:auto;
}

.myright
{
 float:right;
}

