/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url(nav-horizontal.css);
 
/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    
    div#header {
    	height:10px;
    }
	
	div#content {
        width: 701px;
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: left;
    }
    div#main {
        float: left;
        width: 660px;
        display: inline;
    }
    div#sub {
        float: right;
        width: 120px;
        display: inline;
    }
        div#sub ul#local {
            padding: 0;
            margin: 0;
            margin-left: 10px;
        }
		
    div#nav {
        position: relative;
		top: -0px;

    }
	
/* END CONTENT */
