import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    private static codebase = "http://${HOST}:${PORT}/reggie-dl.jar";
    private static policy = "${INSTALL_HOME}/config/reggie.policy";
    private static classpath = "${INSTALL_HOME}/lib/com/sun/jini/reggie-2.1.0.jar";
    private static config = "${INSTALL_HOME}/config/reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
    		  new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "com.sun.jini.reggie.TransientRegistrarImpl",
                         new String[] { config })
    };  
}